.App {
  text-align: center;
}
 #calc{
  width: 320px;
  margin: 100px auto;
  
 }
 #ans{
   width: 290px;
   height: 50px;
   text-align: right;
   font-size: 40px;
   margin-bottom: 20px;
   background-color:lightgrey;
   color: white;
 }
 #button{
  height: 55px;
  width: 75px;
  font-size: 30px;
  text-align: center;
  padding: 18px;
  background-color:black;
 color: white;
 border: 1px solid white;

  
  /* background-color: black; */
  /* color: white; */
 }
 #btn{
  height: 50px;
  width: 100px;
  font-size: 40px;
 }
 
